.e11_128 { 
	overflow:hidden;
}
.e11_128 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e11_131 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1207px;
	height:763px;
	position:absolute;
	left:109px;
	top:231px;
}
.e11_150 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:314px;
	height:37px;
	position:absolute;
	left:410px;
	top:697px;
}
.e11_151 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:102px;
	top:5px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e11_152 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e11_152 { 
	width:18px;
	height:0px;
	position:absolute;
	left:120px;
	top:28.5px;
}
.e11_153 { 
	background-color:rgba(0, 0, 0, 1);
	width:12px;
	height:19px;
	position:absolute;
	left:208px;
	top:9px;
}
.e11_154 { 
	background-color:rgba(0, 0, 0, 1);
	width:12px;
	height:19px;
	position:absolute;
	left:93px;
	top:9px;
}
.e11_155 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:129px;
	top:5px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e11_158 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:28px;
	position:absolute;
	left:156px;
	top:5px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e11_165 { 
	background-color:rgba(255, 255, 255, 1);
	width:1029px;
	height:119px;
	position:absolute;
	left:90px;
	top:61px;
}
.e11_166 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:69px;
	height:69px;
	position:absolute;
	left:15px;
	top:13px;
}
.e11_167 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:20px;
	position:absolute;
	left:119px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_243 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:119px;
	top:66px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_244 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:138px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_249 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:72px;
	height:36px;
	position:absolute;
	left:203px;
	top:66px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_250 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:222px;
	top:74px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_255 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:287px;
	top:68px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_256 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:306px;
	top:76px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_267 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:21px;
	position:absolute;
	left:981.4166259765625px;
	top:8px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_265 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.83333396911621px;
	height:17.25px;
	position:absolute;
	left:950px;
	top:11.916671752929688px;
}
.e11_463 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:6px;
	top:93px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e12_2 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:44px;
	top:93px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e11_170 { 
	background-color:rgba(255, 255, 255, 1);
	width:1029px;
	height:119px;
	position:absolute;
	left:89px;
	top:209px;
}
.e11_171 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:69px;
	height:69px;
	position:absolute;
	left:15px;
	top:13px;
}
.e11_172 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:20px;
	position:absolute;
	left:119px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_268 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:21px;
	position:absolute;
	left:986.41650390625px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_269 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.83333396911621px;
	height:17.25px;
	position:absolute;
	left:955px;
	top:12.916671752929688px;
}
.e11_274 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:119px;
	top:63px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_275 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:138px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_276 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:72px;
	height:36px;
	position:absolute;
	left:203px;
	top:63px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_277 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:222px;
	top:71px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_278 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:287px;
	top:65px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_279 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:306px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_3 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:6px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e12_4 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:44px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e11_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:1029px;
	height:119px;
	position:absolute;
	left:90px;
	top:357px;
}
.e11_176 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:69px;
	height:69px;
	position:absolute;
	left:15px;
	top:13px;
}
.e11_177 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:20px;
	position:absolute;
	left:119px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_270 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:21px;
	position:absolute;
	left:980.41650390625px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_271 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.83333396911621px;
	height:17.25px;
	position:absolute;
	left:949px;
	top:12.91668701171875px;
}
.e11_286 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:119px;
	top:65px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_287 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:138px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_288 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:72px;
	height:36px;
	position:absolute;
	left:203px;
	top:65px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_289 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:222px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_290 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:287px;
	top:67px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_291 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:306px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_5 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:6px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e12_6 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:44px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e11_180 { 
	background-color:rgba(255, 255, 255, 1);
	width:1029px;
	height:119px;
	position:absolute;
	left:89px;
	top:505px;
}
.e11_181 { 
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:69px;
	height:69px;
	position:absolute;
	left:15px;
	top:13px;
}
.e11_182 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:20px;
	position:absolute;
	left:119px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_272 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:21px;
	position:absolute;
	left:984.41650390625px;
	top:9px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_273 { 
	background-color:rgba(0, 0, 0, 1);
	width:25.83333396911621px;
	height:17.25px;
	position:absolute;
	left:953px;
	top:12.91668701171875px;
}
.e11_292 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:118px;
	top:65px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_293 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:137px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_294 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:72px;
	height:36px;
	position:absolute;
	left:202px;
	top:65px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_295 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:221px;
	top:73px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e11_296 { 
	background-color:rgba(243.31249594688416, 241.69042378664017, 227.09166795015335, 1);
	width:73px;
	height:36px;
	position:absolute;
	left:286px;
	top:67px;
	border-top-left-radius:18px;
	border-top-right-radius:18px;
	border-bottom-left-radius:18px;
	border-bottom-right-radius:18px;
}
.e11_297 { 
	color:rgba(137.06250607967377, 122.21406564116478, 122.21406564116478, 1);
	width:53px;
	height:23px;
	position:absolute;
	left:305px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e12_7 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:6px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e12_8 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:22px;
	position:absolute;
	left:44px;
	top:92px;
	font-family:Inter;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}
.e11_132 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1440px;
	height:121px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_193 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:40px;
	position:absolute;
	left:389px;
	top:177px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e11_135 { 
	color:rgba(0, 0, 0, 1);
	width:201px;
	height:40px;
	position:absolute;
	left:1190px;
	top:40px;
	font-family:Inter;
	text-align:center;
	font-size:33px;
	letter-spacing:0;
}
.e11_133 { 
	background-color:rgba(159.375, 154.0625050663948, 154.0625050663948, 1);
	width:256px;
	height:66px;
	position:absolute;
	left:30px;
	top:27px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}
.e11_136 { 
	color:rgba(0, 0, 0, 1);
	width:366px;
	height:61px;
	position:absolute;
	left:134px;
	top:158px;
	font-family:Inter;
	text-align:left;
	font-size:45px;
	letter-spacing:0;
}
.e11_197 { 
	transform: rotate(-0.19292248486339006deg);
	width:281.52972412109375px;
	height:0px;
	position:absolute;
	left:1001px;
	top:214px;
}
.e11_197 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e11_198 { 
	color:rgba(0, 0, 0, 1);
	width:290px;
	height:20px;
	position:absolute;
	left:1057px;
	top:175px;
	font-family:Inter;
	text-align:left;
	font-size:23px;
	letter-spacing:0;
}
.e11_202 { 
	background-color:rgba(0, 0, 0, 1);
	width:24px;
	height:32px;
	position:absolute;
	left:1015px;
	top:175px;
}
