body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-bar {
    width: 1440px;
    height:121px;
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    background-color:rgba(159.375, 154.0625050663948, 154.0625050663948, 1);
    width:256px;
	height:66px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: bold;
}

.header-buttons {
    margin-right: 20px;
}

.btn-header {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

.form-container {
    width: 1000px;
    margin-top: 140px; /* 상단바 아래에 위치 */
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group select, .form-group textarea {
    width: 100%;
    padding: 8px;
    line-height: 1.5;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}
